# chezmoi configuration file
encryption = "age"
[add]
    secrets = "ignore"
# You will find the age key in bitwarden's secure note
# Regarding encryption
[age]
    identity = "~/.age-key.txt"
    recipient = "age1g54jf9cl7zfaf60jzg389dng00q933v9hqgsnwnfdktnh7fcc38s26ykfp"
    symmetry = true
# {{if eq .chezmoi.os "linux"}}
# [hooks.add.post]
#     command = ".scripts/bash/chezmoi-nix-config-chattr.sh"
# {{end}}
{{if eq .chezmoi.os "windows"}}
[hooks.apply.post]
    # command = ".scripts/ps/copy-profile.ps1"
    command = "pwsh"
    args = ["-File",".scripts/ps/copy-profile.ps1"]
{{end}}

