encryption = "age"
[age]
    identity = "~/.age-key.txt"
    recipient = "age1g54jf9cl7zfaf60jzg389dng00q933v9hqgsnwnfdktnh7fcc38s26ykfp"
    symmetry = true
# You will find the age key in bitwarden's secure note
# Regarding encryption
