#============GLOBAL============#

# docs and scripts
README.md
*.sh
*.ps1
.editorconfig

# Better not to clutter my home folder
mutable-configs
img

# generated
.vscode

#=========WINDOWS & MAC=========#
{{ if (or (eq .chezmoi.os "windows") (eq .chezmoi.os "darwin")) }}
.distrobox-manifest
{{ end }}

#============WINDOWS============#
{{ if eq .chezmoi.os "windows" }}
.nix-configs
.zellij-layouts
Templates
Wallpapers
.secrets
{{ end }}

#=============LINUX============#
{{ if eq .chezmoi.os "linux" }}
AppData
OneDrive
.wslconfig
.node-red

.config/powershell
{{ end }}


#=============NIXOS============#
{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "nixos")) }}
.gitconfig
{{ end }}
