#============GLOBAL============#

# docs and scripts
README.md
*.sh
*.ps1

# Better not to clutter my home folder
mutable-configs
img

# generated
.vscode

#============WINDOWS============#
{{ if eq .chezmoi.os "windows" }}
.nix-configs
.zellij-layouts
.distrobox-recipe
{{ end }}
