# chezmoi configuration file
encryption = "age"
[add]
    secrets = "ignore"
# You will find the age key in bitwarden's secure note
# Regarding encryption
[age]
    identity = "~/.age-key.txt"
    recipient = "age1g54jf9cl7zfaf60jzg389dng00q933v9hqgsnwnfdktnh7fcc38s26ykfp"
    symmetry = true
{{if eq .chezmoi.os "linux"}}
[hooks.add.post]
    command = ".scripts/chezmoi-nix-config-chattr.sh"
{{end}}
